body {
    height: 100vh;
    padding: 0;
    margin: 0;
}

.sidebar {
    background-image: url('images/ingrid-salmanca-Y6OKbIFe4Z0-unsplash.jpg');
    background-size: cover; 
    background-position: center;
    width: 600px;
    height: 100%;
    text-align: center;
}

.image-sidebar {
    background-image: url('images/beach-ball.png'); 
    width: 150px;
    height: 150px; 
    background-size: cover; 
    background-position: center; 
    position: absolute;
    display: block; 
}

.credits {
    position: absolute;
    bottom: 0;
    left: 0;
}