body {
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.sidebar {
    background-image: url('images/ingrid-salmanca-Y6OKbIFe4Z0-unsplash.jpg');
    background-size: cover; 
    background-position: center;
    width: 600px;
    height: 100%;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
}

#logo-sidebar {
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    width: 100%;
    height: 220px;
}

#image-sidebar {
    background-image: url('images/beach-ball.png'); 
    width: 150px;
    height: 150px; 
    background-size: cover; 
    background-position: center; 
    margin-right: 10px;
}

#logo-sidebar-text {
    color: aliceblue;
    font-size: 50px;
}

.credits {
    position: absolute;
    bottom: 0;
    color: aliceblue;
}

.container {
    display: flex; 
    flex-grow: 1;
    flex-direction: column;
    height: 100vh;
}

.row {
    flex: 1;  
    padding: 30px;
}

.column {
    display: flex;
    flex-direction: column;
}

#quote {
    background-color: #FFF7D4;
    align-content: end;
}

.quote {
    font-size: 1.5em;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#account {
    background-color: #FFF7D4;
}

button {
    border: 0;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 5px;
    color: aliceblue;
    background-color: #46a4ba;
    font-size: 1em;
    font-weight: bold;
}

#account a[href=""] {
    color: #46a4ba;
    font-weight: bold;
    text-decoration: none;
}

#form {
    background-color: #EEC759;
}

input, label {
    display: block;
}

a {
    color: inherit;
}

#pink {
    text-shadow: 2px 2px 0 #f25e91;
}

#pink:hover {
    text-shadow: 2px 2px 0 #66273d;
}

#blue {
    text-shadow: 2px 2px 0 #60b5d6;
}

#blue:hover {
    text-shadow: 2px 2px 0 #203e49;
}

#cyan {
    text-shadow: 2px 2px 0 #67e9e7;
}

#cyan:hover {
    text-shadow: 2px 2px 0 #1f4948;
}

#orange {
    text-shadow: 2px 2px 0 #fc954c;
}

#orange:hover {
    text-shadow: 2px 2px 0 #4d2d17;
}

#yellow {
    text-shadow: 2px 2px 0 #fce06f;
}

#yellow:hover {
    text-shadow: 2px 2px 0 #9e8214;
}

#green:hover {
    text-shadow: 2px 2px 0 #9ac470;
}

#green:hover {
    text-shadow: 2px 2px 0 #39660b;
}
